/* .body{
    background-color: blueviolet;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

/* .container{
    font-size: large;
    font-weight: 700;
    display: flex;
    margin: 0 auto;
    border-radius: 0;
    flex-direction: column;
} */