.upvoteButton{
    padding: 10px 20px;
    font-size: 13px;
    color: #fff;
    background-color: #909491;
    border: none;
    border-radius: 5px;
    cursor:cell;
    transition: 0.3s ease;
}

.upvoteButton:hover{
    background-color: black;
    transform: translateY(-2px);
}